.contenedor-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 300px;
}

.imagen-posts {
  height: 100%;
}

.contenedor-texto-posts {
  text-align: center;
  font-family: Lato, sans-serif;
}

.frase-posts {
  font-size: 1rem;
}


/* Media query para tablet */
@media screen and (max-width: 1040px) {
  .contenedor-posts {
      height: 250; /* Ajusta la altura automáticamente según el contenido */
  }

  .imagen-posts {
      width: 70%; /* Haz que la imagen ocupe todo el ancho del contenedor */
  }

  .contenedor-texto-posts {
      padding: 8px; /* Ajusta el padding según sea necesario */
      align-items: center;
      height: auto;
      text-align: center;
  }

  .frase-posts {
      font-size: 0.8rem; /* Ajusta el tamaño de fuente según sea necesario */
  }
   .h1 {
  font-size: 23px; /* Ajusta el tamaño de fuente según sea necesario */
  }
}
 
/* Media query para celular */
@media screen and (max-width: 600px) {
  .contenedor-posts {
      height: 200px; /* Ajusta la altura automáticamente según el contenido */
  }

  .contenedor-texto-posts {
      padding: 5px; /* Ajusta el padding según sea necesario */
      align-items: center;
      height: auto;
      text-align: center;
  }

  .frase-posts {
      font-size: 0.5rem; /* Ajusta el tamaño de fuente según sea necesario */
  }

  .h1 {
    font-size: 20x; /* Ajusta el tamaño de fuente según sea necesario */
  }
}